RewriteEngine on

#RewriteRule ^config.php index.php
#RewriteRule ^globals.php index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php 

#ErrorDocument 404 /error.php